{
  "printWidth": 120,
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "embeddedLanguageFormatting": "off",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "proseWrap": "preserve"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "ignore",
        "printWidth": 120
      }
    }
  ]
}
