version: '3.9'
services:
  web1:
    image: python:3.11-alpine
    container_name: web1
    working_dir: /app
    volumes:
    - ./web1:/app
    command:
    - sh
    - -c
    - cp S11_Part01_Page_Index.html index.html && python3 -m http.server 8000
    expose:
    - '8000'
  web2:
    image: python:3.11-alpine
    container_name: web2
    working_dir: /app
    volumes:
    - ./web2:/app
    command:
    - sh
    - -c
    - cp S11_Part01_Page_Index.html index.html && python3 -m http.server 8000
    expose:
    - '8000'
  web3:
    image: python:3.11-alpine
    container_name: web3
    working_dir: /app
    volumes:
    - ./web3:/app
    command:
    - sh
    - -c
    - cp S11_Part01_Page_Index.html index.html && python3 -m http.server 8000
    expose:
    - '8000'
  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    ports:
    - 8080:80
    volumes:
    - ./S11_Part01_Config_Nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
    - web1
    - web2
    - web3
networks:
  default:
    name: lbnet
