
version: "3.9"

networks:
  pentestnet:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24

services:
  dvwa:
    image: vulnerables/web-dvwa
    container_name: dvwa
    restart: unless-stopped
    networks:
      pentestnet:
        ipv4_address: 172.20.0.10
    ports:
      - "8888:80"
    environment:
      - MYSQL_USER=root
      - MYSQL_PASS=p@ssw0rd
    # DVWA pornește cu un DB intern în imaginea oficială

  webgoat:
    image: webgoat/webgoat-8.0
    container_name: webgoat
    restart: unless-stopped
    networks:
      pentestnet:
        ipv4_address: 172.20.0.11
    ports:
      - "8080:8080"
    environment:
      - JAVA_OPTS=-Xmx512m

  vsftpd:
    image: clintmint/vsftpd-2.3.4:1.0
    container_name: vsftpd_vuln
    restart: unless-stopped
    networks:
      pentestnet:
        ipv4_address: 172.20.0.12
    ports:
      - "2121:21"
      - "6200:6200"   # expose the backdoor port too
    command: sh -c "start-vsftpd && tail -f /dev/null"

