version: '3.9'
services:
  web1-lb:
    image: python:3.11-alpine
    container_name: web1-lb
    working_dir: /app
    volumes:
    - ./web1:/app
    command:
    - sh
    - -c
    - cp S11_Part02_Page_Index.html index.html && python3 -m http.server 8000
    expose:
    - '8000'
  web2-lb:
    image: python:3.11-alpine
    container_name: web2-lb
    working_dir: /app
    volumes:
    - ./web2:/app
    command:
    - sh
    - -c
    - cp S11_Part02_Page_Index.html index.html && python3 -m http.server 8000
    expose:
    - '8000'
  web3-lb:
    image: python:3.11-alpine
    container_name: web3-lb
    working_dir: /app
    volumes:
    - ./web3:/app
    command:
    - sh
    - -c
    - cp S11_Part02_Page_Index.html index.html && python3 -m http.server 8000
    expose:
    - '8000'
  lb-custom:
    build:
      context: .
      dockerfile: S11_Part02_Config_Dockerfile_Lb.lb
    container_name: lb-custom
    ports:
    - 8080:8080
    depends_on:
    - web1-lb
    - web2-lb
    - web3-lb
networks:
  default:
    name: lbnet
